body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.calculator {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Hack", sans-serif;
  color: white;
  background-color: #2e2e2e;
}

.hint {
  color: #c3c3c3;
}
