body {
	margin: 0;
	padding: 0;
	background-color: #212121;
}

span.identifier {
	color: cornflowerblue;
}

span.operator {
	color: darkorange;
}

span.prompt {
	color: mediumseagreen;
}

span.error {
	color: tomato;
}

span.hint {
	color: #9c9c9c;
}